{% extends 'principal/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background%}{% load static %}{% static 'principal/img/contact-us.jpg' %}{% endblock%}

{% block headers %}
 <h1>Contacto</h1>
              <span class="subheading">Seremos tu mejor asesoría</span>
{% endblock%}

{% block content %}
   <div class="row">   
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Para nosotros sera un gusto atenderte, puedes contactarnos al siguiente número y correo electrónico: </p>
          <br>
          <p><b>Teléfono:</b> (+503) 7650 3724</p>
          <br>
          <p><b>Email:</b>logisticadeeventoslam@gmail.com</p>

        </div>
    </div> 
 {% endblock %}